@font-face {
  font-family: 'Futura';
  src: url(../assets/Futura.ttc);
}

@font-face {
  font-family: 'Lato';
  src: url(../assets/Lato-Regular.ttf);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.8;
  background-color: #fff;
}

h1 {
  font-family: 'Futura', helvetica, sans-serif;
  font-size: 5.2em;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-family: 'Futura', helvetica, sans-serif;
  font-size: 1.9em;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-family: 'Futura', helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  text-transform: uppercase;
}

h4 {
  font-family: 'Futura', helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.light {
  color: #9fa1a4;
}

.dark {
  color: #15161a;
}

/* Global */

.wrapper {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* TODO: Name a class buttons to put all generic css relating to the ctas */

.primary-cta {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 30px;
}

.secondary-cta {
  background-color: #a4d7f8;
  color: #000;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 30px;
}

.tertiary-cta {
  background-color: #4effa5;
  color: #000;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 30px;
}

.primary-cta:hover, .secondary-cta:hover, .tertiary-cta:hover {
  color: #000;
  background-color: #fff;
  transition: color .8s;
  transition: background-color .8s;
}

/* Header */

#navbar {
  height: 110px;
  width: 100%;
  border-bottom: 2px solid #ddd;
  position: fixed;
  z-index: 20;
  background-color: #fff;
  padding: 0 5%;
  /* visibility: hidden; */
}

#brand img {
  height: 100px;
}

#brand {
  float: left;
}

#brand:hover {
  opacity: .65;
}

header li {
  display: inline;
  padding: 0 15px;
}

#nav-menu {
  float: right;
  padding-top: 40px;
}

nav a {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 0px;
  border-bottom: 5px solid white;
  transition: border-bottom .8s;
}

nav a:hover, .active-page {
  border-bottom: 5px solid #15161a;
}

/* Hero */

#hero {
  overflow: hidden;
  margin-top: 110px;
}

#video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  filter: brightness(40%);
}

#video-content {
  position: relative;
  overflow: hidden;
}

#video-copy {
  position: absolute;
  background-color: rgba(164, 215, 248, 0.85);
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.7em;
  padding: 25px;
  margin-bottom: 25px;
}

#main-headline {
  width: 80%;
  margin: auto;
}

/* Stat Section  */

.stats {
  padding: 120px 0;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.blue-line {
  height: 5px;
  width: 100px;
  background-color: #a4d7f8;
  flex-basis: 10%;
  margin: 0 40px;
}



.stat-line {
  flex-basis: 30%;
  text-align: right;
}

.stat-copy {
  flex-basis: 42%;
}

.huge-emphasis {
  font-size: 3.5em;
}

.circle-icon {
  text-align: right;
  font-size: 2em;
}

#jobs-table-header {
  flex-basis: 25%;
  text-align: center;
}

#extended-line {
  flex-basis: 70%;
  margin: 0 0 0 40px;
}

/* Two Box CTA Section */

.two-box-cta {
  padding: 30px 0;
}

.copy-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copy-one {
  flex-basis: 50%;
  padding: 100px 80px;
  background-color: #a4d7f8;
  /* height: auto; */
}

.copy-two {
  flex-basis: 50%;
  padding: 100px 80px;
  background-color: #000;
  /* height: auto; */
}

.two-box-cta p {
  padding: 20px 0;
  margin-bottom: 20px;
  width: 85%;
}

.two-box-cta h2 {
  margin-top: -20px;
}

/* Two Box Quotes Section */

#quote-section-wrapper {
  margin: 0px 0 100px 0;
}

.copy-quote {
  flex-basis: 50%;
  padding: 75px 80px;
  background-color: #a4d7f8;
  height: 100%;
}

.copy-quote p {
  padding: 20px 0;
  width: 100%;
  font-style: italic;
}

.copy-icon {
  flex-basis: 50%;
  padding: 100px 50px;
  background-color: #fff;
  height: 100%;
  color: inherit;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.reverse {
  flex-flow: row-reverse nowrap;
}

.black {
  background-color: #000;
  color: #9fa1a4;
}

#quoter {
  font-size: 1em;
  font-style: normal;
}

.fa-quote-left {
  font-size: 2.0em;
}

.two-col-icon {
  font-size: 3.5em;
}

#comment-icon {
  flex-basis: 10%;
  text-align: center;
}

/* Headline Section */

.headline {
  height: auto;
  padding: 50px 0;
  margin-bottom: 50px;
  /* margin-top: 10px; */
}

.page-title-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: -40px;
  margin-top: 110px;
}

#headline-copy-one {
  background-color: #eee;
  height: auto;
  margin-right: 20%;
  padding: 30px 65px;
  text-transform: none;
}

#headline-copy-two {
  background-color: #a4d7f8;
  height: auto;
  margin-left: 20%;
  padding: 30px 65px;
}

/* Awards Section  */

#awards {
  background-color: #15161a;
  margin: 100px 0;
  padding: 120px 0;
}

#award-logos {
  display: flex;
  overflow: hidden;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}

.award-logo {
  flex-basis: 25%;
  padding: 20px 0;
}

.award-logo img {
  width: 100px;
  opacity: 1;
  transition: opacity .4s;
}

.award-logo img:hover {
  opacity: 0.40;
}

#award-copy {
  display: flex;
  flex-flow: column wrap;
}

#award-copy p {
  width: 75%;
  margin: auto;
  text-align: center;
  margin-bottom: 35px;
  padding: 35px 0;
}

#award-copy a {
  margin: auto;
}

#ernst {
  width: 220px;
}

#forbes {
  width: 150px;
}

/* Footer Top */

#footer-top {
  background-color: #15161a;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px 10px;
  color: #fff;
}

#question {
  flex-basis: 45%;
}

.vertical-line {
  background-color: #4effa5;
  width: 3px;
  height: 15px;
}

/* Footer Mid  */

#footer-mid {
  background-color: #a4d7f8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
}

#office-logo {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 20%;
  justify-content: space-around;
}

#list-offices {
  display: flex;
  flex-basis: 70%;
}

.office {
  padding: 0 30px;
  flex-basis: 25%;
}

.fa-building {
  font-size: 2em;
}

/* Jobs Table */

#job-listings-section {
  margin: 0 0 100px 0;
}

table {
  /* border: 1px solid black; */
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: 1.3em;
}

tr {
  height: 100px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

td {
  vertical-align: middle;
  padding: 0 30px;
}

.fa-chevron-right {
  font-size: 1.2em;
  /* color: #a4d7f8; */
}

tr:hover {
  background-color: #a4d7f8;
}

#jobs-header {
  padding-bottom: 0;
}



/* Footer Bottom  */

#footer-btm {
  margin: 100px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#social-links {
  display: flex;
  flex-flow: row nowrap;
  /* padding: 10px 0; */
}

.social-link {
  padding: 0 10px;
  font-size: 1.5em;
  transition: color .3s;
}

.social-link:hover {
  color: #a4d7f8;
}

#privacy-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; 
}

.privacy-links a {
  padding: 0 20px;
  color: inherit;
  transition: color .3s;
}

.privacy-links:hover {
  color: #a4d7f8;
}

.horizontal-line {
  height: 3px;
  width: 50px;
  background-color: #a4d7f8;
}

#copyright {
  padding: 15px 0;
}

#author-brand {
  margin-top: 50px;
  color: #9fa1a4;
}

#author-brand a {
  font-family: 'Futura', helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  color: inherit;
}

#author-brand a:hover {
  color: #a4d7f8;
}

/* Media Queries  */

@media(max-width: 1170px) {
  .office {
    padding: 0 8px;
    flex-basis: 25%;
  }
}

@media(max-width: 1100px) {
  h1 { 
    font-size: 4.5em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.5em;
  }
}

@media(max-width: 978px) {
  h1 {
    font-size: 2.0em;
  }
  header li {
    padding: 0 5px;
  }
  .text {
    font-size: 1.0em;
  }
}

@media(max-width: 900px) {
  #navbar {
    height: 175px;
  }
  #brand {
    width: 100%;
    display: block;
    text-align: center;
  }
  #nav-menu {
    float: none;
    margin: auto;
    padding: 10px 0;
    text-align: center;
  }
  header li {
    width: 100%;
    margin: auto;
  }
  #hero {
    margin-top: 175px;
  }
  .page-title-wrapper {
    margin-top: 175px;
  }
  .headline {
    height: auto;
  }
  .copy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copy-one {
    flex-basis: 90%;
    padding: 100px 50px;
  }
  .copy-two {
    flex-basis: 90%;
    padding: 100px 50px;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  #footer-mid {
    background-color: #a4d7f8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  
  #office-logo {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
  }
  
  #list-offices {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%; 
    align-items: center;   
  } 
  
  .office {
    padding: 10px 40px;
    flex-basis: 25%;
  }
}

@media(max-width: 780px) {
  .stat {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .stat .blue-line {
    height: 5px;
    width: 50%;
    background-color: #a4d7f8;
    flex-basis: 100%;
    margin-bottom: 15px;
    margin-left: 0;
  }
  
  .stat-line {
    flex-basis: 100%;
    text-align: center;
  }
  
  .stat-copy {
    flex-basis: 100%;
  }
  
  .huge-emphasis {
    font-size: 3.5em;
  }
  
  .circle-icon {
    display: none;
  }
  #footer-top {
    background-color: #15161a;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    color: #fff;
  }
  .vertical-line {
    display: none;
  }
  #question {
    padding-bottom: 20px;
  }
  #phone {
    padding-top: 20px;
  }
}

@media(max-width: 600px) {
  nav a {
    font-size: 1em;
    font-weight: 500; 
  }
  .stat .blue-line {
    width: 100%;
  }
  .huge-emphasis {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
  #award-logos {
    display: flex;
    overflow: hidden;
    flex-flow: column wrap;
    justify-content: space-between;
    text-align: center;
  }
  h2 {
    font-size: 1.0em;
  }
  h3 {
    font-size: 0.9em;
  }
  #headline-copy-one {
    margin-right: 0;
  }
  
  #headline-copy-two {
    margin-left: 0;
  }
}

@media(max-width: 530px) {
  .text {
    padding: 10px;
    margin-bottom: 10px;
  }
  .horizontal-line {
    display: none;
  }
  #privacy-links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
  }
  #social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* padding: 10px 0; */
  }
  #copyright {
    padding: 15px 0;
    text-align: center;
  }
}

@media(max-width: 460px) {
  nav a {
    font-size: 0.8em;
    font-weight: 400;
  }
  .text {
    display: none;
  }
  .main {
    margin: 10px 0;
  }
  #hero h1 {
    margin-bottom: 10px;
  }
}

@media(max-width: 430px) {
  nav a {
    font-size: 0.6em;
    font-weight: 400;
  }
  h1 {
    font-size: 1.5em;
  }
  .primary-cta, .secondary-cta, .tertiary-cta {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 0.8em;
  }
  .copy-one {
    flex-basis: 90%;
    padding: 100px 20px;
  }
  .copy-two {
    flex-basis: 90%;
    padding: 100px 20px;
  }

}